@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeueBoldCondensed.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueBoldCondensed.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueBoldCondensed.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeueBoldCondensed.woff) format('woff'),
	url(../../assets/fonts/HelveticaNeueBoldCondensed.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url(../../assets/fonts/HelveticaNeueBlackCondensed.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueBlackCondensed.eot) format('embedded-opentype'),
	url(../../assets/fonts/HelveticaNeueBlackCondensed.woff2) format('woff2'),
	url(../../assets/fonts/HelveticaNeueBlackCondensed.woff) format('woff'),
	url(../../assets/fonts/HelveticaNeueBlackCondensed.ttf) format('truetype');
	font-weight: 900;
	font-style: normal;
}